<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <pluginGroups>
        <pluginGroup>org.apache.tomcat.maven</pluginGroup>
    </pluginGroups>
    <servers>
        <server>
            <id>Snapshots</id>
            <username>wdeployer</username>
            <password>deploy123</password>
        </server>
        <server>
            <id>Releases</id>
            <username>wdeployer</username>
            <password>deploy123</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>xiaopeng-mvn</id>
            <properties>
                <sonar.jdbc.url>jdbc:mysql://10.192.31.77:3306/sonar</sonar.jdbc.url>
                <sonar.jdbc.driver>com.mysql.jdbc.Driver</sonar.jdbc.driver>
                <sonar.jdbc.username>sonar</sonar.jdbc.username>
                <sonar.jdbc.password>sonar</sonar.jdbc.password>
                <sonar.host.url>http://sonar.logan.xiaopeng.local:9000/sonar</sonar.host.url> <!-- Sonar服务器访问地址 -->
            </properties>
            <repositories>
                <repository>
                    <id>xiaopeng</id>
                    <url>http://nexus.logan.xiaopeng.local:8081/nexus/content/groups/public</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>3rd</id>
                    <url>http://nexus.logan.xiaopeng.local:8081/nexus/content/repositories/thirdparty/</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>xiaopeng</id>
                    <url>http://nexus.logan.xiaopeng.local:8081/nexus/content/groups/public</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>xiaopeng-mvn</activeProfile>
    </activeProfiles>
</settings>
